.user-card-grid {
    .user-card {
        padding: 15px 25px;
        border-radius: 5px;
        box-shadow: 0 0 4px #616161;
        &__image {
            border-radius: 50%;
            img {
                border-radius: inherit;
            }
        }
    }
}
