//colors
$mainColor: #937924;
$secondaryColor: #c1b3d7;
$thirdColor: #F3F9F3;
$fourthColor: #4D5157;
$fifthColor: #D1E8E4;
$sixthColor: #91CEC4;
$black: #181818;
$white: white;

//borders
$border1: 1px solid;
$border2: 2px solid;

//transtion
$duration: 0.25s ease-in-out;

//scales
$scaleUp: scale(1.1);
$scaleDown: scale(0.8);
