<header>
    <nav class="fixed-top py-3 bg-white text-dark">
        <div class="container">
            <div class="nav-wrapper d-flex justify-content-between">
                <div class="logo-container">
                    <a routerLink="/" class="fs-3">E-Commerce</a>
                </div>
                <ul class="navigation-menu">
                    <li>
                        <a routerLink="">Products</a>
                    </li>
                    <li>
                        <a routerLink="">Reviews</a>
                    </li>
                </ul>
                <div class="icons">
                    <ng-container *ngIf="this.authenticateService.isAuthenticated()">
                        <button type="button" class="btn btn-sm btn-danger" (click)="logoutUser()">Logout</button>
                    </ng-container>
                </div>
            </div>
        </div>
    </nav>
</header>
