<header>
    <nav class="py-3 px-5 bg-white text-dark">
        <div class="nav-wrapper d-flex justify-content-between">
            <div class="logo-container">
                <a routerLink="/" class="fs-3">E-Commerce</a>
            </div>
            <ng-container *ngIf="this.authenticateService.isAuthenticated()">
                <div class="nav-menu-icons d-flex align-items-center">
                    <ul class="navigation-menu">
                        <li>
                            <a routerLink="/users/me">Profile</a>
                        </li>
                        <li>
                            <a routerLink="">Products</a>
                        </li>
                        <li>
                            <a routerLink="">Reviews</a>
                        </li>
                    </ul>
                    <div class="icons">
                        <button type="button" class="btn btn-sm btn-danger ms-4" (click)="logoutUser()">Logout</button>
                    </div>
                </div>
            </ng-container>
        </div>
    </nav>
</header>
