<div class="auth-section py-5">
    <div class="form-container">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-floating">
                <input type="password" id="oldPassword" class="form-control" formControlName="oldPassword" placeholder="Old password">
                <label for="oldPassword">Old password</label>
                <!-- <small class="text-danger">This field is required</small> -->
            </div>
            <div class="form-floating">
                <input type="password" id="newPassword" class="form-control" formControlName="newPassword" placeholder="New password">
                <label for="newPassword">New password</label>
            </div>
            <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Submit</button>
        </form>
        <!-- <button back type="button" class="btn btn-warning">Go back</button> -->
    </div>
</div>
