<footer>
    <div class="container d-flex justify-content-between align-items-center">
        <p class="mb-0">Copyright &copy; 2022 E-Commerce </p>
        <ul class="footer-links">
            <li>
                <a href="#" title="">Terms of use</a>
            </li>
        </ul>
        <ul class="socials">
            <li>
                <a href="#" title="" target="_blank">
                    <img src="" alt="">
                    Facebook
                </a>
            </li>
            <li>
                <a href="#" title="" target="_blank">
                    <img src="" alt="">
                    Instagram
                </a>
            </li>
        </ul>
    </div>
</footer>
