*{
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    a {
        text-decoration: none;
    }
    button {
        border: 0;
        padding: 0;
        box-shadow: none;
        background: transparent;
    }
    // h1, h2, h3, h4, h5, h6 {
    //     margin-bottom: 0;
    // }
    img, svg, iframe, video {
        object-fit: cover;
    }
    img, iframe {
        // width: 100%;
        max-width: 100%;
    }
    img.svg,
    svg {
        max-width: fit-content;
    }
}

:focus {
    outline-offset: 4px;
}

[type=button] {
    -webkit-appearance: none !important;
}
